.sidebar-container {
  width: 15rem;
  background-color:$clr7;
  color: $txt;
  border-right: #00000012 0.5px solid;

  .setting-container{
    margin-top: 50px;
  }
.icon {
  font-size: 1rem;
  color: rgb(100, 100, 100);
  margin-right: 40px;
}

 > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 1rem 0 1rem 0;
}

 button {
  width: 100%;
  display: flex;
  justify-content: left;
  border: none;
  background-color: inherit;
  padding: 5px 0 5px 1rem;
  margin-bottom: 28px;
}

 button:hover {
  background-color: $clr3;
  color:$clr1;
  cursor: pointer;
}
}
.logo-container{
  background-color: $clr4;
  margin-left: 4px
;
}
.mini-side-bar{ 
  border-right: #00000012 0.5px solid;
  .buttons-container{
    display: flex;
  flex-direction: column;
  margin-top: 15px;
  .setting-container{
    margin-top: 250px;
  }
  button {
    width: 100%;
    display: flex;
    justify-content: left;
    border: none;
    background-color: inherit;
    justify-content: space-evenly;
    margin-bottom: 18px;
  }
  
   button:hover {
    background-color: $clr3;
    color:$clr1;
    cursor: pointer;
  }
  }
  
}

