.container {
  font-weight: bolder;
  list-style-type: none;
}
.head_menu {
  display: flex;
  width: 30%;
  list-style-type: none;
  justify-content: space-between;
}
// .header {
//   display: flex;
//   justify-content: none;
// }
