.container {
  display: flex;
}

// .header {
//   display: flex;
//   flex-wrap: wrap;
//   margin: auto;
//   justify-content: center;
//   align-items: center;
// }

.title {
  color: blue;
  text-align: left;
  direction: ltr;
}
.add_task {
  text-align: center;
}
