.login-page {
  background-color: rgba(177, 231, 231, 0.425);
  display: flex;
  flex-flow: column;
  width: 402px;
  align-items: center;
}

.login-page button {
  width: 230px;
  height: 31px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 400;
}
