* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: #fff;
}

html {
    font-family:Assistant-Regular, sans-serif;
    line-height: 1.75;
    color: $txt;
}

body {
    margin: 0;
    background-size: 40%;
    background-attachment: fixed;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Assistant-SemiBold, sans-serif;
    margin: 0 0 2rem;
}





p {
    margin: 0 0 2rem;
    max-width: 46ch;
}