.project-container {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.project-container > div {
    width: 30%;
    padding: 3%;
}