@font-face {
    font-family: Assistant-Regular;
    src: url('../../../assets/fonts/static/Assistant-Regular.ttf');
}
@font-face {
    font-family: Assistant-SemiBold;
    src: url('../../../assets/fonts/static/Assistant-SemiBold.ttf');
}