// Colors
$clr1: #34008ea4;
$clr2: #a677e0;
$clr3: #bb86fc40;
$clr4: #34008e0f;
$clr5: #00000040;
$clr6: #69f0ed;
$clr7: #ffffff;
$clr8: #000000bf;
$clr9: #00000080;
$clr10: #e5e5e5;
$clr11:#69F0ED0A;
$txt: #000000de;

// System colors

$succsess: #33BF2B;
$warning: #FFAA00;
$error: #E2382F;
$info: #0287E0;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
